beautifulsoup4==4.14.3
cloudscraper==1.2.71
Django==6.0.2
feedparser==6.0.12
news_fetcher==0.3.1
newspaper3k==0.2.8
nltk==3.9.1
nltk==3.9.2
python-decouple==3.8
python_dateutil==2.9.0.post0
pywin32==305.1
Requests==2.32.5
schedule==1.2.2
spacy==3.8.11
textblob==0.19.0
trafilatura==2.0.0
urllib3==2.6.3
whois==1.20240129.2
django-crispy-forms
readability-lxml
lxml-html-clean
Cleaner
yt-dlp
opencv-python