{% extends 'page_setup.html' %}
{% block title %} Sign in page {% endblock title%}

{% block userprofile %} &nbsp;{% endblock userprofile %}

{% block bodycontent %}
<div>
  <div class='row'>
    <div class='col-3'></div>
    <div class='col-md-6 col-12 col-offset-3'>
      <span class="date text-pink text-size-30px mt-5">Enter your email address below, and
        we'll email instructions for resetting a new password
      </span>
      <form method="post" class="mt-4">
        {% csrf_token %}
        {% load bootstrap %}
          {{form|bootstrap}}
        <div class='d-flex justify-content-center'>
            <input class="bc-white ml-2 loginbutton" type="submit" value="Send email">
        </div>
      </form>
    </div>
</div>

{% endblock bodycontent %}